### Ridge Regression

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error, make_scorer, mean_absolute_error, r2_score
from sklearn.kernel_ridge import KernelRidge
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn.metrics import accuracy_score
import warnings


warnings.filterwarnings('ignore')

In [4]:
cd C:\Users\kjosh\Downloads

C:\Users\kjosh\Downloads

In [5]:
pwd

'C:\\Users\\kjosh\\Downloads'

In [6]:
df=pd.read_csv("Bank.csv")
df.head(20)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.4,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.1,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.8,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.5,2,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.0,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.5,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.7,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.4,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.1,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.5,2,0,0,1,0,0,1

In [8]:
data = df.drop(["ID","ZIP Code"],axis=1)

In [13]:
X = data.copy().drop("Personal Loan_1",axis=1)
y = data["Personal Loan_1"]

# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [14]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [15]:
scorer = make_scorer(mean_squared_error, greater_is_better = False)

def mse_cv_test(model):
 mse= -cross_val_score(model, X_test, y_test, scoring = scorer, cv = 5)
 return(mse)

def r2_scorer(pred):
 r2 = r2_score(y_test, pred)
 print("R2 Score: %.4f" %r2)

for Kernel in ('linear','poly','rbf','sigmoid'):   
    lkrr = KernelRidge(kernel = Kernel)

    lkrr.fit(X_train, y_train)
    lkrr_pred = lkrr.predict(X_test)
    print("{} KRR R^2 Score {:.4f}".format(Kernel.capitalize(),r2_score(lkrr_pred,y_test)))
    #print(mean_squared_error(y_test, lkrr_pred))
    y_pred = lkrr.predict(X_test)
    y_pred = np.round_(y_pred,decimals=0)
    print("{} KRR Accuracy score {:.4f}\n".format(Kernel.capitalize(),accuracy_score(y_test,y_pred)*100))

Linear KRR R^2 Score -0.6226
Linear KRR Accuracy score 93.8400

Poly KRR R^2 Score 0.6655
Poly KRR Accuracy score 97.6000

Rbf KRR R^2 Score 0.5296
Rbf KRR Accuracy score 97.5200

Sigmoid KRR R^2 Score 0.2724
Sigmoid KRR Accuracy score 87.6800

In [16]:
from sklearn.linear_model import RidgeClassifier

rr = RidgeClassifier(alpha=0.01) 
'''higher the alpha value, more restriction on the coefficients; low alpha > more generalization, coefficients are barely
restricted and in this case linear and ridge regression resembles''' 
rr.fit(X_train, y_train)
y_pred1 = rr.predict(X_test)
rr100 = RidgeClassifier(alpha=100) #  comparison with alpha value
rr100.fit(X_train, y_train)
y_pred2 = rr100.predict(X_test)

Ridge_train_score = rr.score(X_train,y_train)*100
Ridge_test_score = rr.score(X_test, y_test)*100

Ridge_train_score100 = rr100.score(X_train,y_train)*100
Ridge_test_score100 = rr100.score(X_test, y_test)*100


print("Prediction Accuracy for the models\n")

print ("ridge regression train score low alpha: {:.4f}".format(Ridge_train_score))
print ("ridge regression test score low alpha: {:.4f}\n".format( Ridge_test_score))

print ("ridge regression train score high alpha: {:.4f}".format(Ridge_train_score100))
print ("ridge regression test score high alpha: {:.4f}".format(Ridge_test_score100))

Prediction Accuracy for the models

ridge regression train score low alpha: 93.4933
ridge regression test score low alpha: 95.2800

ridge regression train score high alpha: 93.4133
ridge regression test score high alpha: 95.0400